@import '../utils/typography';
@import '../utils/variables';

.filters{
    background-color: white;
    width: 80%;
    margin: -8em auto 2.5em auto;
    border-radius: .3em;
    z-index: 9;
    position: relative;
    top: 0;
    box-shadow: -1px 9px 17px 4px rgba(91,164,164,0.24);
    @include flexContent(center, center, row);
    animation: fadeIn 100ms;
    &:after{
        animation: fadeIn 100ms reverse;
    }
    & > * {
        margin: 1.5em 1.5em 1em 1.5em;
    }
    .filters-wrapper{
        flex-grow: 1; 
        margin-top: 2em;
    }
    
}

.filter-block{
    display: inline-flex;
    margin: 0 1em 1em 0; 

    .filter{
        margin: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    
}