@import './variables';
@import './mixins';

@font-face {
    font-family: 'Spartan' ;
    src: url('../../fonts/Spartan-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Spartan' ;
    src: url('../../fonts/Spartan-Bold.ttf');
    font-weight: 700;
}

.company-name{
    color: $primary-color;
    font-size: .8em;
    font-weight: 700;
}
.job-tag{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.6em;

}
.job-additional-info{
    color: $info-color;
    @include flexContent(center, flex-start, row);
}
.job-lang-tool{
    color: $primary-color;
    font-weight: 700;
    letter-spacing: .05em;
}
