@import './scss/utils/typography';
@import './scss/utils/variables';
@import './scss/utils/mixins';


*{
    margin: 0;
    padding: 0;
}
html{
    background-color: $bg-color;
}
body{
    font-size: 15px;
    font-family: 'Spartan', monospace;
    box-sizing: border-box;
    height: 100vh; 
}

#root{
    height: 100%;
}
.container{
    height: auto; 
    width: 100%;
    
}
.top-bg{
    background-color: $primary-color;
    background-image: url('./images/bg-header-mobile.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    min-height: 20%;
    height: 10em;
    margin-bottom: 5em;

} 
@media (min-width: 375px){
    .top-bg{
        background-image: url('./images/bg-header-desktop.svg');
    }
}